### All days of the challange:

* [Day 1: Handling missing values](https://www.kaggle.com/rtatman/data-cleaning-challenge-handling-missing-values)
* [Day 2: Scaling and normalization](https://www.kaggle.com/rtatman/data-cleaning-challenge-scale-and-normalize-data)
* [Day 3: Parsing dates](https://www.kaggle.com/rtatman/data-cleaning-challenge-parsing-dates/)
* [Day 4: Character encodings](https://www.kaggle.com/rtatman/data-cleaning-challenge-character-encodings/)
* [Day 5: Inconsistent Data Entry](https://www.kaggle.com/rtatman/data-cleaning-challenge-inconsistent-data-entry/)
___
Welcome to day 1 of the 5-Day Data Challenge! Today, we're going to be looking at how to deal with missing values. To get started, click the blue "Fork Notebook" button in the upper, right hand corner. This will create a private copy of this notebook that you can edit and play with. Once you're finished with the exercises, you can choose to make your notebook public to share with others. :)

> **Your turn!** As we work through this notebook, you'll see some notebook cells (a block of either code or text) that has "Your Turn!" written in it. These are exercises for you to do to help cement your understanding of the concepts we're talking about. Once you've written the code to answer a specific question, you can run the code by clicking inside the cell (box with code in it) with the code you want to run and then hit CTRL + ENTER (CMD + ENTER on a Mac). You can also click in a cell and then click on the right "play" arrow to the left of the code. If you want to run all the code in your notebook, you can use the double, "fast forward" arrows at the bottom of the notebook editor.

Here's what we're going to do today:

* [Take a first look at the data](#Take-a-first-look-at-the-data)
* [See how many missing data points we have](#See-how-many-missing-data-points-we-have)
* [Figure out why the data is missing](#Figure-out-why-the-data-is-missing)
* [Drop missing values](#Drop-missing-values)
* [Filling in missing values](#Filling-in-missing-values)

Let's get started!

# Take a first look at the data
________

The first thing we'll need to do is load in the libraries and datasets we'll be using. For today, I'll be using a dataset of events that occured in American Football games for demonstration, and you'll be using a dataset of building permits issued in San Francisco.

> **Important!** Make sure you run this cell yourself or the rest of your code won't work!

In [1]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
nfl_data = pd.read_csv("../input/nflplaybyplay2009to2016/NFL Play by Play 2009-2017 (v4).csv")
sf_permits = pd.read_csv("../input/building-permit-applications-data/Building_Permits.csv")

# set seed for reproducibility
np.random.seed(0)

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The first thing I do when I get a new dataset is take a look at some of it. This lets me see that it all read in correctly and get an idea of what's going on with the data. In this case, I'm looking to see if I see any missing values, which will be reprsented with `NaN` or `None`.

In [2]:
# look at a few rows of the nfl_data file. I can see a handful of missing data already!
nfl_data.sample(5)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
244485,2014-10-26,2014102607,18,3,1.0,00:39,1,939.0,12.0,TB,...,1.240299,0.225647,0.774353,0.245582,0.754418,0.225647,0.019935,-0.018156,0.038091,2014
115340,2011-11-20,2011112000,22,4,1.0,06:47,7,407.0,44.0,OAK,...,NaN,0.056036,0.943964,0.042963,0.957037,0.943964,0.013073,NaN,NaN,2011
68357,2010-11-14,2010111401,8,2,NaN,00:23,1,1823.0,0.0,CLE,...,NaN,0.365307,0.634693,0.384697,0.615303,0.634693,-0.019390,NaN,NaN,2010
368377,2017-09-24,2017092405,24,4,1.0,08:48,9,528.0,8.0,CLE,...,1.075660,0.935995,0.064005,0.921231,0.078769,0.064005,0.014764,0.003866,0.010899,2017
384684,2017-11-05,2017110505,11,2,1.0,09:15,10,2355.0,0.0,DEN,...,NaN,0.928474,0.071526,0.934641,0.065359,0.071526,-0.006166,NaN,NaN,2017

Yep, it looks like there's some missing values. What about in the sf_permits dataset?

In [3]:
# your turn! Look at a couple of rows from the sf_permits dataset. Do you notice any missing data?

# your code goes here :)
sf_permits.sample(100)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
78651,201503120624,8,otc alterations permit,03/12/2015,4273,029,2986,NaN,26th,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Mission,94110.0,"(37.74972976527956, -122.40963202424835)",1374057173006
177779,201707071220,8,otc alterations permit,07/07/2017,0453,004A,950,NaN,Bay,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Russian Hill,94109.0,"(37.80472551510833, -122.42280760820965)",1469546420378
64978,M529127,8,otc alterations permit,10/21/2014,0478,011,1290,NaN,Chestnut,St,...,NaN,NaN,NaN,NaN,NaN,2.0,Russian Hill,94109.0,"(37.80244997614665, -122.42443255018165)",1359656465959
165958,201704073507,8,otc alterations permit,04/07/2017,6507,003A,1134,NaN,Noe,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94114.0,"(37.750866393629146, -122.43209633372915)",1458922436280
147902,201701237639,8,otc alterations permit,01/23/2017,0623,001,1755,NaN,Van Ness,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Pacific Heights,94109.0,"(37.791925784456105, -122.42306858292103)",1450933235988
116034,201602290793,8,otc alterations permit,02/29/2016,4943,013,1046,NaN,Hollister,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,10.0,Bayview Hunters Point,94124.0,"(37.719378906009005, -122.39129146290892)",1414305176506
142629,M739147,8,otc alterations permit,11/15/2016,0215C,031,1333,NaN,Jones,St,...,NaN,NaN,NaN,NaN,NaN,3.0,Nob Hill,94109.0,"(37.79362102799777, -122.41488237355445)",1444405434576
56544,201407312694,8,otc alterations permit,07/31/2014,1924,091,1746,NaN,20th,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,4.0,Sunset/Parkside,94122.0,"(37.75528549833576, -122.47732318761126)",1350812393675
90962,201507020598,8,otc alterations permit,07/02/2015,1506,014,567,NaN,38th,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,1.0,Outer Richmond,94121.0,"(37.77813319742798, -122.49889439953233)",1387243102000
71567,201501024841,8,otc alterations permit,01/02/2015,1271,036,33,NaN,Carl,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Haight Ashbury,94117.0,"(37.765695245477474, -122.44852485073525)",136658994926
97281,M618987,8,otc alterations permit,08/31/2015,1362,006,127,NaN,02nd,Av,...,NaN,NaN,NaN,NaN,NaN,2.0,Inner Richmond,94118.0,"(37.78628864970932, -122.46069162138107)",139404496757
10770,201304255469,8,otc alterations permit,04/25/2013,0212,037,1041,NaN,Washington,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94108.0,"(37.79448718135546, -122.41041525794137)",1302882399923
86286,201505206808,8,otc alterations permit,05/20/2015,3544,065,2099,NaN,Market,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Castro/Upper Market,94114.0,"(37.7673572364719, -122.42856796235033)",1382266157662
174925,201702038618,8,otc alterations permit,02/03/2017,3585,077,3847,NaN,18th,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Castro/Upper Market,94114.0,"(37.76098326767524, -122.42937866591618)",1452254160270
2099,201301188328,8,otc alterations permit,01/18/2013,1089,032,3017,NaN,Geary,Bl,...,5.0,wood frame (5),5.0,wood frame (5),NaN,1.0,Lone Mountain/USF,94118.0,"(37.781605883864955, -122.45136825895146)",129378689359
80123,M572527,8,otc alterations permit,03/25/2015,3774,138,540,NaN,Delancey,St,...,NaN,NaN,NaN,NaN,NaN,6.0,Financial District/South Beach,94107.0,"(37.78435248759838, -122.3912359993388)",1375608422643
103951,201510281081,8,otc alterations permit,10/28/2015,5645,014,199,NaN,Bocana,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Bernal Heights,94110.0,"(37.740578510608515, -122.4175375512531)",1401160185622
36000,201401095947,3,additions alterations or repairs,01/09/2014,7331,005,315,NaN,Summit,Wy,...,NaN,NaN,5.0,wood frame (5),NaN,7.0,Lakeshore,94132.0,"(37.714814512478924, -122.47582502606711)",1329356495269
144862,201612134759,8,otc alterations permit,12/13/2016,0316,013,495,NaN,Geary,St,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Tenderloin,94102.0,"(37.786706014241354, -122.41110547447872)",1447156276973
63271,201410068120,8,otc alterations permit,10/06/2014,1382,049,2115,NaN,Lake,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,1.0,Outer Richmond,94121.0,"(37.785631471102484, -122.48221877363352)",135785197752
63699,201410088426,7,wall or painted sign,10/08/2014,0311,013,61,NaN,Post,St,...,NaN,NaN,NaN,NaN,NaN,3.0,Financial District/South Beach,94104.0,"(37.788732484248456, -122.4030315186952)",1358295377800
22466,M419509,8,otc alterations permit,08/21/2013,1364,079,330,NaN,Cornwall,St,...,NaN,NaN,NaN,NaN,NaN,1.0,Inner Richmond,94118.0,"(37.78506275149505, -122.46276452549193)",1315121492491
136372,201609127390,8,otc alterations permit,09/12/2016,0517,001,2015,NaN,Greenwich,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Marina,94123.0,"(37.79907283891384, -122.43286372725073)",1436977234819
22190,201308204736,8,otc alterations permit,08/20/2013,0345,012B,371,NaN,Turk,St,...,4.0,constr type 4,4.0,constr type 4,NaN,6.0,Tenderloin,94102.0,"(37.78242616326981, -122.41510965044925)",1314839234104
195756,201801269690,8,otc alterations permit,01/26/2018,0759,001,1011,NaN,Turk,St,...,2.0,constr type 2,2.0,constr type 2,NaN,5.0,Western Addition,94102.0,"(37.78086844078157, -122.42546773089641)",1495024379032
110970,201601116757,8,otc alterations permit,01/11/2016,0580,015,2149,NaN,Broadway,NaN,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Pacific Heights,94115.0,"(37.79425640821998, -122.43269838078749)",1408739505584
137640,201609228501,8,otc alterations permit,09/22/2016,0460A,011,1660,NaN,Bay,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Marina,94123.0,"(37.803257267216765, -122.43437508190803)",1438467301521
82709,201504163879,8,otc alterations permit,04/16/2015,5324,015,1475,NaN,Oakdale,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,10.0,Bayview Hunters Point,94124.0,"(37.73308269457875, -122.3881924200903)",1378386179240
48821,201405216402,8,otc alterations permit,05/21/2014,0660,068,1841,NaN,Webster,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Pacific Heights,94115.0,"(37.78772901208289, -122.43217375347074)",1342717454515
96123,201508204790,8,otc alterations permit,08/20/2015,5720,006A,529,NaN,Holly Park,Cr,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Bernal Heights,94110.0,"(37.7361352301454, -122.42071562299036)",1392784187719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194537,201801168682,8,otc alterations permit,01/16/2018,3708,056,525,NaN,Market,St,...,1.0,constr type 1,1.0,constr type 1,NaN,6.0,Financial District/South Beach,94105.0,"(37.79040639954478, -122.39927546096968)",1493656164534
134625,201608245911,8,otc alterations permit,08/24/2016,1046,024,3061,NaN,Pine,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Presidio Heights,94115.0,"(37.786140353830206, -122.44617597860766)",1434950283862
185722,201710121084,8,otc alterations permit,10/12/2017,1648,052,703,NaN,05th,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,1.0,Inner Richmond,94118.0,"(37.775258188229095, -122.46303545951812)",1483129487114
87511,M592210,8,otc alterations permit,06/02/2015,3607,023,3494,NaN,21st,St,...,NaN,NaN,NaN,NaN,NaN,8.0,Mission,94110.0,"(37.75677522976121, -122.42525883976913)",1383563161656
8472,201304023561,8,otc alterations permit,04/02/2013,0872,009,78,NaN,Buchanan,St,...,3.0,constr type 3,3.0,constr type 3,NaN,8.0,Hayes Valley,94102.0,"(37.77043213130208, -122.42650899861525)",1300466420301
105934,M637847,8,otc alterations permit,11/13/2015,0999,029,3149,NaN,Washington,St,...,NaN,NaN,NaN,NaN,NaN,2.0,Pacific Heights,94115.0,"(37.78995170200055, -122.44513372390672)",140328086545
158955,M700988,8,otc alterations permit,06/28/2016,1470,004,419,NaN,38th,Av,...,NaN,NaN,NaN,NaN,NaN,1.0,Outer Richmond,94121.0,"(37.78093648339655, -122.49909772103537)",1466279101074
30437,201311071376,3,additions alterations or repairs,11/07/2013,2408,052,723,NaN,Taraval,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,7.0,West of Twin Peaks,94116.0,"(37.74287520482957, -122.47402824576372)",1323497492706
5655,201303011250,8,otc alterations permit,03/01/2013,0200,014,460,NaN,Davis,St,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Financial District/South Beach,94111.0,"(37.79669693804199, -122.39777129426386)",1297507373640
187788,201711012846,8,otc alterations permit,11/01/2017,0133,020,460,NaN,Vallejo,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,North Beach,94133.0,"(37.79932888427784, -122.40506210723804)",148560660266
100845,201510018607,8,otc alterations permit,10/01/2015,3276,016,240,NaN,Kenwood,Wy,...,5.0,wood frame (5),5.0,wood frame (5),NaN,7.0,West of Twin Peaks,94127.0,"(37.728403753342434, -122.46344106688791)",1397826155705
44033,M477207,8,otc alterations permit,04/04/2014,0247,041,1200,NaN,California,St,...,NaN,NaN,NaN,NaN,NaN,3.0,Nob Hill,94109.0,"(37.791671734427815, -122.41452456449726)",1337727233178
15912,201306179694,8,otc alterations permit,06/17/2013,0069,030,1150,NaN,Lombard,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Russian Hill,94109.0,"(37.802356425662545, -122.42057153126035)",130825457590
166549,201708013545,3,additions alterations or repairs,08/01/2017,0074,044,2154,NaN,Taylor,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Russian Hill,94133.0,"(37.80244083409151, -122.41434537003892)",147281557793
174633,201701046468,8,otc alterations permit,01/04/2017,5529,023,249,NaN,Mullen,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Bernal Heights,94110.0,"(37.74696865354132, -122.40736196167498)",1449314183703
15012,201306078972,8,otc alterations permit,06/07/2013,2656,072,3024,NaN,Market,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Castro/Upper Market,94114.0,"(37.76128185641177, -122.44165147365996)",1307325469925
137572,201609218449,8,otc alterations permit,09/21/2016,6778,030,1769,NaN,San Jose,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,11.0,Outer Mission,94112.0,"(37.729211525480956, -122.43901895678692)",1438394212893
15335,201306119199,8,otc alterations permit,06/11/2013,0306,017,589,NaN,Post,St,...,3.0,constr type 3,3.0,constr type 3,NaN,3.0,Tenderloin,94102.0,"(37.78771214807402, -122.41139385829787)",1307658233782
5238,201302250902,8,otc alterations permit,02/25/2013,4108,003P,1001,NaN,Tennessee,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,10.0,Potrero Hill,94107.0,"(37.759411016298266, -122.3890779676697)",1297071170931
930,201301077381,8,otc alterations permit,01/07/2013,0039,007,2015,NaN,Grant,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,North Beach,94133.0,"(37.80553541124594, -122.40872356722781)",1292566347458
33528,201312113896,8,otc alterations permit,12/11/2013,4003,023,249,NaN,Connecticut,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1326740269228
164045,201708256004,8,otc alterations permit,08/25/2017,0100,028,1950,NaN,Taylor,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Russian Hill,94133.0,"(37.80060527969715, -122.41408890017173)",147626158873
46495,201404304551,8,otc alterations permit,04/30/2014,0116,020B,1520,NaN,Stockton,St,...,2.0,constr type 2,2.0,constr type 2,NaN,3.0,North Beach,94133.0,"(37.799940981687996, -122.40872549678036)",134030759334
182831,201709158454,8,otc alterations permit,09/15/2017,4262,025,2427,B,24th,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,10.0,Mission,94110.0,"(37.75291956891321, -122.40390172335466)",1479612369731
169007,M818207,8,otc alterations permit,08/10/2017,0510,006,2206,NaN,Greenwich,St,...,NaN,NaN,NaN,NaN,NaN,2.0,Marina,94123.0,"(37.79909266646279, -122.4361743282243)",1474119234753
170374,201708175135,8,otc alterations permit,08/17/2017,3721,004,100,NaN,01st,St,...,1.0,constr type 1,1.0,constr type 1,NaN,6.0,Financial District/South Beach,94105.0,"(37.78933252312191, -122.39739978569541)",1475004164666
41167,201403070167,8,otc alterations permit,03/07/2014,0541,015,2083,NaN,Union,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Marina,94123.0,"(37.79710374960287, -122.43350991603158)",1334730359269
80676,201503312325,8,otc alterations permit,03/31/2015,7113,065,270,NaN,Capitol,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,11.0,Oceanview/Merced/Ingleside,94112.0,"(37.712754675329926, -122.45878745997098)",1376197489617
195304,201801239305,8,otc alterations permit,01/23/2018,3710,019,45,NaN,Fremont,St,...,1.0,constr type 1,1.0,constr type 1,NaN,6.0,Financial District/South Beach,94105.0,"(37.79124240907513, -122.39713339809133)",1494525164588
45830,201404233973,8,otc alterations permit,04/23/2014,3717,011,160,NaN,Spear,St,...,1.0,constr type 1,1.0,constr type 1,NaN,6.0,Financial District/South Beach,94105.0,"(37.791371964488945, -122.39381184840431)",1339608164637

# See how many missing data points we have
___

Ok, now we know that we do have some missing values. Let's see how many we have in each column.

In [4]:
# get the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

That seems like a lot! It might be helpful to see what percentage of the values in our dataset were missing to give us a better sense of the scale of this problem:

In [5]:
# how many total missing values do we have?
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

24.87214126835169

Wow, almost a quarter of the cells in this dataset are empty! In the next step, we're going to take a closer look at some of the columns with missing values and try to figure out what might be going on with them.

In [6]:
# your turn! Find out what percent of the sf_permits dataset is missing
my_missing_values_count = sf_permits.isnull().sum()
my_total_cells = np.product(sf_permits.shape)
my_total_missing = my_missing_values_count.sum()

# percent of data that is missing
(my_total_missing/my_total_cells) * 100

26.26002315058403

# Figure out why the data is missing
____
 
This is the point at which we get into the part of data science that I like to call "data intution", by which I mean "really looking at your data and trying to figure out why it is the way it is and how that will affect your analysis". It can be a frustrating part of data science, especially if you're newer to the field and don't have a lot of experience. For dealing with missing values, you'll need to use your intution to figure out why the value is missing. One of the most important question you can ask yourself to help figure this out is this:

> **Is this value missing becuase it wasn't recorded or becuase it dosen't exist?**

If a value is missing becuase it doens't exist (like the height of the oldest child of someone who doesn't have any children) then it doesn't make sense to try and guess what it might be. These values you probalby do want to keep as NaN. On the other hand, if a value is missing becuase it wasn't recorded, then you can try to guess what it might have been based on the other values in that column and row. (This is called "imputation" and we'll learn how to do it next! :)

Let's work through an example. Looking at the number of missing values in the nfl_data dataframe, I notice that the column `TimesSec` has a lot of missing values in it:

In [7]:
# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

By looking at [the documentation](https://www.kaggle.com/maxhorowitz/nflplaybyplay2009to2016), I can see that this column has information on the number of seconds left in the game when the play was made. This means that these values are probably missing because they were not recorded, rather than because they don't exist. So, it would make sense for us to try and guess what they should be rather than just leaving them as NA's.

On the other hand, there are other fields, like `PenalizedTeam` that also have lot of missing fields. In this case, though, the field is missing because if there was no penalty then it doesn't make sense to say *which* team was penalized. For this column, it would make more sense to either leave it empty or to add a third value like "neither" and use that to replace the NA's.

> **Tip:** This is a great place to read over the dataset documentation if you haven't already! If you're working with a dataset that you've gotten from another person, you can also try reaching out to them to get more information.

If you're doing very careful data analysis, this is the point at which you'd look at each column individually to figure out the best strategy for filling those missing values. For the rest of this notebook, we'll cover some "quick and dirty" techniques that can help you with missing values but will probably also end up removing some useful information or adding some noise to your data.

## Your turn!

* Look at the columns `Street Number Suffix` and `Zipcode` from the `sf_permits` datasets. Both of these contain missing values. Which, if either, of these are missing because they don't exist? Which, if either, are missing because they weren't recorded?

In [8]:
print('Street Number Suffix:\t' + str(my_missing_values_count['Street Number Suffix']) + '\nZipcode:\t\t ' + str(my_missing_values_count['Zipcode']))

Street Number Suffix:	196684
Zipcode:		 1716

ANSWER: The zip code should always be present. Different the road addition. This is optional and does not have to exist.

# Drop missing values
___

If you're in a hurry or don't have a reason to figure out why your values are missing, one option you have is to just remove any rows or columns that contain missing values. (Note: I don't generally recommend this approch for important projects! It's usually worth it to take the time to go through your data and really look at all the columns with missing values one-by-one to really get to know your dataset.)  

If you're sure you want to drop rows with missing values, pandas does have a handy function, `dropna()` to help you do this. Let's try it out on our NFL dataset!

In [9]:
# remove all the rows that contain a missing value
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

Oh dear, it looks like that's removed all our data! 😱 This is because every row in our dataset had at least one missing value. We might have better luck removing all the *columns* that have at least one missing value instead.

In [10]:
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

In [11]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 41

We've lost quite a bit of data, but at this point we have successfully removed all the `NaN`'s from our data.

In [12]:
# Your turn! Try removing all the rows from the sf_permits dataset that contain missing values. How many are left?
my_columns_with_na_dropped = sf_permits.dropna(axis=0)
my_columns_with_na_dropped.head()
print("Columns in original dataset: %d \n" % sf_permits.shape[1])
print("Columns with na's dropped: %d" % my_columns_with_na_dropped.shape[1])

Columns in original dataset: 43

Columns with na's dropped: 43

In [13]:
# Now try removing all the columns with empty values. Now how much of your data is left?
my_2_columns_with_na_dropped = sf_permits.dropna(axis=1)
my_2_columns_with_na_dropped.head()
print("Columns in original dataset: %d \n" % sf_permits.shape[1])
print("Columns with na's dropped: %d" % my_2_columns_with_na_dropped.shape[1])

Columns in original dataset: 43

Columns with na's dropped: 12

# Filling in missing values automatically
_____

Another option is to try and fill in the missing values. For this next bit, I'm getting a small sub-section of the NFL data so that it will print well.

In [14]:
# get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

We can use the Panda's fillna() function to fill in missing values in a dataframe for us. One option we have is to specify what we want the `NaN` values to be replaced with. Here, I'm saying that I would like to replace all the `NaN` values with 0.

In [15]:
# replace all NA's with 0
subset_nfl_data.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

I could also be a bit more savvy and replace missing values with whatever value comes directly after it in the same column. (This makes a lot of sense for datasets where the observations have some sort of logical order to them.)

In [16]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0
subset_nfl_data.fillna(method = 'bfill', axis=0).fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

Filling in missing values is also known as "imputation", and you can find more exercises on it [in this lesson, also linked under the "More practice!" section](https://www.kaggle.com/dansbecker/handling-missing-values). First, however, why don't you try replacing some of the missing values in the sf_permit dataset?

In [17]:
# Your turn! Try replacing all the NaN's in the sf_permits data with the one that
# comes directly after it and then replacing any remaining NaN's with 0
my_subset_sf_permits = sf_permits.loc[:, 'Street Number Suffix':'Supervisor District'].head()
my_subset_sf_permits

,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,...,Proposed Use,Proposed Units,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District
0,NaN,Ellis,St,NaN,NaN,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,...,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0
1,NaN,Geary,St,0.0,NaN,remove (e) awning and associated signs.,issued,08/03/2017,04/19/2016,08/03/2017,...,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0
2,NaN,Pacific,Av,NaN,NaN,installation of separating wall,withdrawn,09/26/2017,05/27/2016,NaN,...,retail sales,39.0,2.0,NaN,1.0,constr type 1,1.0,constr type 1,NaN,3.0
3,NaN,Pacific,Av,0.0,NaN,repair dryrot & stucco at front of bldg.,complete,07/24/2017,11/07/2016,07/18/2017,...,1 family dwelling,1.0,2.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0
4,NaN,Market,St,NaN,NaN,demolish retail/office/commercial 3-story buil...,issued,12/01/2017,11/28/2016,12/01/2017,...,NaN,NaN,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,6.0

In [18]:
my_subset_sf_permits.fillna(0)

,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,...,Proposed Use,Proposed Units,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District
0,0,Ellis,St,0.0,0,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,...,0,0.0,2.0,0,3.0,constr type 3,0.0,0,0,3.0
1,0,Geary,St,0.0,0,remove (e) awning and associated signs.,issued,08/03/2017,04/19/2016,08/03/2017,...,0,0.0,2.0,0,3.0,constr type 3,0.0,0,0,3.0
2,0,Pacific,Av,0.0,0,installation of separating wall,withdrawn,09/26/2017,05/27/2016,0,...,retail sales,39.0,2.0,0,1.0,constr type 1,1.0,constr type 1,0,3.0
3,0,Pacific,Av,0.0,0,repair dryrot & stucco at front of bldg.,complete,07/24/2017,11/07/2016,07/18/2017,...,1 family dwelling,1.0,2.0,0,5.0,wood frame (5),5.0,wood frame (5),0,3.0
4,0,Market,St,0.0,0,demolish retail/office/commercial 3-story buil...,issued,12/01/2017,11/28/2016,12/01/2017,...,0,0.0,2.0,0,3.0,constr type 3,0.0,0,0,6.0

And that's it for today! If you have any questions, be sure to post them in the comments below or [on the forums](https://www.kaggle.com/questions-and-answers). 

Remember that your notebook is private by default, and in order to share it with other people or ask for help with it, you'll need to make it public. First, you'll need to save a version of your notebook that shows your current work by hitting the "Commit & Run" button. (Your work is saved automatically, but versioning your work lets you go back and look at what it was like at the point you saved it. It also let's you share a nice compiled notebook instead of just the raw code.) Then, once your notebook is finished running, you can go to the Settings tab in the panel to the left (you may have to expand it by hitting the [<] button next to the "Commit & Run" button) and setting the "Visibility" dropdown to "Public".

# More practice!
___

If you're looking for more practice handling missing values, check out these extra-credit\* exercises:

* [Handling Missing Values](https://www.kaggle.com/dansbecker/handling-missing-values): In this notebook Dan shows you several approaches to imputing missing data using scikit-learn's imputer. 
* Look back at the `Zipcode` column in the `sf_permits` dataset, which has some missing values. How would you go about figuring out what the actual zipcode of each address should be? (You might try using another dataset. You can search for datasets about San Fransisco on the [Datasets listing](https://www.kaggle.com/datasets).) 

\* no actual credit is given for completing the challenge, you just learn how to clean data real good :P