# Power Outages Data

This notebook aims to make an EDA (Exploratory Data Analysis) on 15 years of outage to find out the features' relations and to prepare the ground for a Machine Learning model to predict the cause.

First we import the rquired libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier

# 1. Data pre-processing

In [4]:
dataset = pd.read_csv('Grid_Disruption_00_14_standardized - Grid_Disruption_00_14_standardized.csv')
dataset.head()

,Event Description,Year,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Respondent,Geographic Areas,NERC Region,Demand Loss (MW),Number of Customers Affected,Tags
0,Severe Weather - Thunderstorms,2014,6/30/2014,8:00 PM,7/2/2014,6:30 PM,Exelon Corporation/ComEd,Illinois,RFC,Unknown,"420,000","severe weather, thunderstorm"
1,Severe Weather - Thunderstorms,2014,6/30/2014,11:20 PM,7/1/2014,5:00 PM,Northern Indiana Public Service Company,North Central Indiana,RFC,Unknown,"127,000","severe weather, thunderstorm"
2,Severe Weather - Thunderstorms,2014,6/30/2014,5:55 PM,7/1/2014,2:53 AM,We Energies,Southeast Wisconsin,MRO,424,"120,000","severe weather, thunderstorm"
3,Fuel Supply Emergency - Coal,2014,6/27/2014,1:21 PM,Unknown,Unknown,We Energies,Wisconsin,MRO,Unknown,Unknown,"fuel supply emergency, coal"
4,Physical Attack - Vandalism,2014,6/24/2014,2:54 PM,6/24/2014,2:55 PM,Tennessee Valley Authority,"Nashville, Tennessee",SERC,Unknown,Unknown,"vandalism, physical"

In [5]:
print("Number of entries: " + str(len(dataset.index)))

Number of entries: 1652

A quick peek at the data shows us that empty values are defined as "Unknown", which means we should treat them as NULL. To decide what to do with each value, we must first analyze how many empty values each column has:

* ### Dealing with empty values

We can see many columns have "Unknown", which needs to be cleaned. We need to have special care with our numerical columns. Year is pretty likely pretty clean, I expect that "Number of Customers Affected" is more troublesome:

In [6]:
len(pd.to_numeric(dataset['Year'], 'coerce').dropna().astype(int))

1652

"Year" seems to be perfectly filled, we don't need to worry about it.

In [9]:
len(pd.to_numeric(dataset['Demand Loss (MW)'], 'coerce').dropna().astype(int))

807

Over 700 rows are not numeric on 'Demand Loss (MW)'. It's quite a lot of missing values (almost 50%), we'll have to decide if we want to keep it or not.

In [10]:
len(pd.to_numeric(dataset['Number of Customers Affected'], 'coerce').dropna().astype(int))

222

As we can see above, we have too many non numerical rows for this column (only 222 are correctly filled), it may be best to simply drop it. Let's take a quick look at 'Demand Loss (MW)' first:

In [12]:
print('Demand Loss (MW)')
dataset.iloc[:, 9]

Demand Loss (MW)

0       Unknown
1       Unknown
2           424
3       Unknown
4       Unknown
5       Unknown
6       Unknown
7       Unknown
8       Unknown
9       Unknown
10          NaN
11          NaN
12      Unknown
13      Unknown
14          217
15      Unknown
16          494
17      Unknown
18          338
19      Unknown
20          NaN
21      Unknown
22      Unknown
23          NaN
24        3,900
25        3,300
26          NaN
27          NaN
28      Unknown
29      Unknown
         ...
1622        NaN
1623         15
1624        500
1625        NaN
1626       None
1627       None
1628       None
1629       None
1630         35
1631        175
1632        294
1633        130
1634        138
1635       None
1636    450-500
1637       None
1638    150-200
1639        NaN
1640        NaN
1641        NaN
1642        NaN
1643       None
1644        143
1645         46
1646      1,040
1647        400
1648        NaN
1649        300
1650        960
1651        450
Name: Demand Loss (MW), Length: 1652, dtype: object

Besides the usual 'None', 'NaN' and 'Unknown', there are some range values in place (separated by '-'). In other circumstances, I would just remove this column, but since we're likely dropping 'Number of Customers Affected', let's simply remove the empty values:

In [13]:
dataset = dataset.iloc[pd.to_numeric(dataset['Demand Loss (MW)'], 'coerce').dropna().astype(int).index, :]
print(len(dataset.index))

807

[](http://)Let's take a quick look at 'Number of Customers Affected', to make sure it isn't anything we can fix:

In [15]:
print('Number of Customers Affected')
dataset.iloc[:, 10]

Number of Customers Affected

2             120,000
14             65,000
16             38,500
18                NaN
33             89,000
34            106,648
36          4,000,000
40             28,000
55             61,377
57            370,900
62            Unknown
64             66,445
70            120,124
74            Unknown
77            Unknown
78            Unknown
82            181,000
83            Unknown
103           Unknown
111           Unknown
123            62,000
136           140,735
140            88,000
143           Unknown
145            89,500
152             7,500
154            61,705
157            48,400
166               433
168                 0
            ...
1596           25,000
1597           53,565
1598           63,500
1599           1 PG&E
1600           1 PG&E
1601                0
1602          190,000
1603          255,000
1604        1,881,134
1605           95,000
1607          600,000
1610           24,506
1611     Undetermined
1613     Undetermined
1619          130,000
1620              NaN
1621              NaN
1623          124,000
1624          130,000
1630           14,273
1631           30,500
1632             None
1633           32,000
1634           40,911
1644           37,000
1645    40,000-45,000
1647          100,000
1649           81,000
1650          173,000
1651          133,000
Name: Number of Customers Affected, Length: 807, dtype: object

As we suspected, this data is not in good shape to be used. Besides the usual culprits ("NaN", "Unknown", "None"), we also have some strange choices, such as using "Approx. " and " - " to indicate a possible range of values. With that in mind, let's proceed with the plan to drop it:

In [16]:
dataset = dataset[dataset.columns.difference(['Number of Customers Affected'])]

With that done, we can continue with our data pre-processing and replace 'Unknown' with None on all other columns, so that we can have a better idea of how many empty values we have:

In [18]:
for column in dataset.columns:
    dataset[column].replace('Unknown', None, inplace=True)

In [19]:
dataset.isnull().any()

Date Event Began       False
Date of Restoration     True
Demand Loss (MW)       False
Event Description      False
Geographic Areas       False
NERC Region            False
Respondent             False
Tags                    True
Time Event Began        True
Time of Restoration     True
Year                   False
dtype: bool

Many columns have empty values, lets now check how bad it is:

In [21]:
print("Total number of rows: " + str(len(dataset.index)))
print("Number of empty values:")
for column in dataset.columns:
    print(" * " + column + ": " + str(dataset[column].isnull().sum()))

Total number of rows: 807
Number of empty values:
 * Date Event Began: 0
 * Date of Restoration: 6
 * Demand Loss (MW): 0
 * Event Description: 0
 * Geographic Areas: 0
 * NERC Region: 0
 * Respondent: 0
 * Tags: 1
 * Time Event Began: 4
 * Time of Restoration: 8
 * Year: 0

We now have very few columns left with 'None' values, we can just remove these rows.

In [22]:
dataset = dataset.dropna()

Despite "Event Description" being a very interesting column, we don't need it, since it tells the same story as "Tags" (which is simplified):

In [23]:
dataset = dataset[dataset.columns.difference(['Event Description'])]

We can now check if our data is properly cleaned:

In [24]:
print("Total number of rows: " + str(len(dataset.index)))
print("Number of empty values:")
for column in dataset.columns:
    print(" * " + column + ": " + str(dataset[column].isnull().sum()))

Total number of rows: 797
Number of empty values:
 * Date Event Began: 0
 * Date of Restoration: 0
 * Demand Loss (MW): 0
 * Geographic Areas: 0
 * NERC Region: 0
 * Respondent: 0
 * Tags: 0
 * Time Event Began: 0
 * Time of Restoration: 0
 * Year: 0

It is! The new size of our dataset is 797 (down from 1652). We lost quite a lot of data (a little bit over 50%), but it should be enough for our analysis. Before proceeding, let's take a last quick look at it:

In [25]:
dataset.head()

,Date Event Began,Date of Restoration,Demand Loss (MW),Geographic Areas,NERC Region,Respondent,Tags,Time Event Began,Time of Restoration,Year
2,6/30/2014,7/1/2014,424,Southeast Wisconsin,MRO,We Energies,"severe weather, thunderstorm",5:55 PM,2:53 AM,2014
14,6/7/2014,6/8/2014,217,"North and Central , Alabama",SERC,Southern Company,"severe weather, thunderstorm",11:00 PM,5:30 AM,2014
16,6/5/2014,6/7/2014,494,"Shelby County, Tennessee",SERC,Memphis Light Gas and Water Division,"severe weather, thunderstorm",3:00 AM,11:45 PM,2014
18,6/3/2014,6/3/2014,338,"Alberta, Canada",WECC,Peak Reliability,islanding,3:32 PM,3:59 PM,2014
33,4/30/2014,4/30/2014,296,"Alabama, Florida, Georgia",SERC,Southern Company,"severe weather, thunderstorm",3:50 AM,2:00 PM,2014

**** # 2. Data analysis

With our dataset properly cleaned, we can now take a look and see how it's distributed (and how the columns relate to each other). A few interesting plots comes to mind:
 * Year and Tags
 * Demand Loss (MW) and Year
 * Count of causes (Tags)
 * Count of occurrences per Year